{# templates/form/custom_form_theme.html.twig #}


{% block text_widget %}
    <script src="{{ asset('/dist/js/vendors/tom-select.js') }}"></script>
    <script src="{{ asset('dist/js/vendors/dom.js') }}"></script></script>
    <script src="{{ asset('dist/js/vendors/tailwind-merge.js') }}"></script></script>
    <script src="{{ asset('dist/js/vendors/dropzone.js') }}"></script></script>
    <script src="{{ asset('dist/js/utils/helper.js') }}"></script></script>
    <script src="{{ asset('dist/js/vendors/highlight.js') }}"></script></script>
    <script src="{{ asset('dist/js/vendors/lucide.js') }}"></script></script>
    <script src="{{ asset('dist/js/vendors/simplebar.js') }}"></script></script>
    <script src="{{ asset('dist/js/vendors/transition.js') }}"></script></script>
    <script src="{{ asset('dist/js/vendors/dropdown.js') }}"></script></script>
    <script src="{{ asset('dist/js/vendors/popper.js') }}"></script></script>
    <script src="{{ asset('dist/js/vendors/modal.js') }}"></script></script>
    <script src="{{ asset('dist/js/components/base/theme-color.js') }}"></script></script>
    <script src="{{ asset('dist/js/components/base/dropzone.js') }}"></script></script>
    <script src="{{ asset('dist/js/components/base/highlight.js') }}"></script></script>
    <script src="{{ asset('dist/js/components/base/source.js') }}"></script></script>
    <script src="{{ asset('dist/js/components/base/preview-component.js') }}"></script></script>
    <script src="{{ asset('dist/js/components/themes/tinker/top-bar.js') }}"></script></script>
    <script src="{{ asset('dist/js/components/base/lucide.js') }}"></script></script>
    <script src="{{ asset('dist/js/components/mobile-menu.js') }}"></script></script>
    <link href="{{ asset('/dist/css/vendors/dropzone.css') }}" rel="stylesheet"/>
    <link href="{{ asset('/dist/css/vendors/highlight.css') }}" rel="stylesheet"/>
    <link href="{{ asset('/dist/css/vendors/tippy.css') }}" rel="stylesheet"/>
    <link href="{{ asset('/dist/css/themes/rubick/side-nav.css') }}" rel="stylesheet"/>
    <link href="{{ asset('/dist/css/vendors/simplebar.css') }}" rel="stylesheet"/>
    <link href="{{ asset('/dist/css/components/mobile-menu.css') }}" rel="stylesheet"/>
    <!-- BEGIN: Vendor JS Assets-->
    <script src="{{ asset('/dist/js/vendors/dom.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/tailwind-merge.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/dropzone.js') }}"></script>
    <script src="{{ asset('/dist/js/utils/helper.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/highlight.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/tippy.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/lucide.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/simplebar.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/transition.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/dropdown.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/popper.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/modal.js') }}"></script>
    <script src="{{ asset('/dist/js/components/base/theme-color.js') }}"></script>
    <script src="{{ asset('/dist/js/components/base/dropzone.js') }}"></script>
    <script src="{{ asset('/dist/js/components/base/highlight.js') }}"></script>
    <script src="{{ asset('/dist/js/components/base/source.js') }}"></script>
    <script src="{{ asset('/dist/js/components/base/preview-component.js') }}"></script>
    <script src="{{ asset('/dist/js/themes/rubick.js') }}"></script>
    <script src="{{ asset('/dist/js/components/base/lucide.js') }}"></script>
    <script src="{{ asset('/dist/js/components/mobile-menu.js') }}"></script>
    <script src="{{ asset('/dist/js/components/themes/rubick/top-bar.js') }}"></script>

    <script src="{{ asset('/dist/js/vendors/dom.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/tailwind-merge.js') }}"></script>
    <script src="{{ asset('/dist/js/utils/helper.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/highlight.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/tippy.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/lucide.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/simplebar.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/transition.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/dropdown.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/popper.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/modal.js') }}"></script>
    <script src="{{ asset('/dist/js/components/base/theme-color.js') }}"></script>
    <script src="{{ asset('/dist/js/components/base/tom-select.js') }}"></script>
    <script src="{{ asset('/dist/js/components/base/highlight.js') }}"></script>
    <script src="{{ asset('/dist/js/components/base/source.js') }}"></script>
    <script src="{{ asset('/dist/js/components/base/preview-component.js') }}"></script>
    <script src="{{ asset('/dist/js/themes/rubick.js') }}"></script>
    <script src="{{ asset('/dist/js/components/base/lucide.js') }}"></script>
    <script src="{{ asset('/dist/js/components/mobile-menu.js') }}"></script>
    <script src="{{ asset('/dist/js/components/themes/rubick/top-bar.js') }}"></script>

    <script src="{{ asset('/dist/js/utils/helper.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/dom.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/tailwind-merge.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/dayjs.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/litepicker.js') }}"></script>
    <script src="{{ asset('/dist/js/utils/helper.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/highlight.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/popper.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/dropdown.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/modal.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/tippy.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/lucide.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/transition.js') }}"></script>
    <script src="{{ asset('/dist/js/vendors/simplebar.js') }}"></script>
    <script src="{{ asset('/dist/js/components/base/theme-color.js') }}"></script>
    <script src="{{ asset('/dist/js/components/base/litepicker.js') }}"></script>
    <!-- BEGIN: Pages, layouts, components JS Assets-->
    <!-- END: Pages, layouts, components JS Assets-->
    <link href="{{ asset('/dist/css/vendors/tom-select.css') }}" rel="stylesheet">

    <link href="{{ asset('/dist/css/vendors/litepicker.css') }}" rel="stylesheet">
    <link href="{{ asset('/dist/css/vendors/highlight.css') }}" rel="stylesheet">
    <link href="{{ asset('/dist/css/vendors/tippy.css') }}" rel="stylesheet">
    <link href="{{ asset('/dist/css/themes/rubick/side-nav.css') }}" rel="stylesheet">
    <link href="{{ asset('/dist/css/vendors/simplebar.css') }}" rel="stylesheet">
    <link href="{{ asset('dist/css/components/mobile-menu.css') }}" rel="stylesheet">
    <link href="{{ asset('/dist/css/app.css') }}" rel="stylesheet">
    <!-- END: CSS Assets-->

    <div class="input-form mb-4">
        <label
                data-tw-merge
                for="{{ id }}" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right flex w-full flex-col sm:flex-row"
        >
            {{ label }}

        </label>
        <input type="text" data-tw-merge
               id="{{ id }}" name="{{ full_name }}" value="{{ value }}" required="{{ required }}" placeholder="{{ attr.placeholder }}" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&amp;[readonly]]:bg-slate-100 [&amp;[readonly]]:cursor-not-allowed [&amp;[readonly]]:dark:bg-darkmode-800/50 [&amp;[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&amp;:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10 form-control form-control">
    </div>
{% endblock %}

{% block email_widget %}
    <div class="input-form mt-3 mb-4">
    <label
            data-tw-merge
            for="{{ id }}" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right flex w-full flex-col sm:flex-row"
    >
        {{ label }}

    </label>
    <input type="email" data-tw-merge
           id="{{ id }}" name="{{ full_name }}" value="{{ value }}" required="{{ required }}" placeholder="{{ attr.placeholder }}" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&amp;[readonly]]:bg-slate-100 [&amp;[readonly]]:cursor-not-allowed [&amp;[readonly]]:dark:bg-darkmode-800/50 [&amp;[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&amp;:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10 form-control form-control">
    </div>{% endblock %}

{% block password_widget %}
    <div class="input-form mt-3 mb-4" >
        <label
                data-tw-merge
                for="{{ id }}" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right flex w-full flex-col sm:flex-row"
        >
            {{ label }}


        </label>
        <input type="password" data-tw-merge
               id="{{ id }}" name="{{ full_name }}" value="{{ value }}" required="{{ required }}" placeholder="{{ attr.placeholder }}" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&amp;[readonly]]:bg-slate-100 [&amp;[readonly]]:cursor-not-allowed [&amp;[readonly]]:dark:bg-darkmode-800/50 [&amp;[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&amp;:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10 form-control form-control">
    </div>
{% endblock %}


{% block integer_widget %}

    <div class="flex group input-group mt-2 mb-4">
        <input type="text" aria-label="Price" aria-describedby="input-group-price" placeholder="Price"
               data-tw-merge
               id="{{ id }}"  name="{{ full_name }}" value="{{ value }}" required="{{ required }}" class="
        disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&amp;[readonly]]:bg-slate-100 [&amp;[readonly]]:cursor-not-allowed [&amp;[readonly]]:dark:bg-darkmode-800/50 [&amp;[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&amp;:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10">

        <div id="input-group-price" class="py-2 px-3 bg-slate-100 border shadow-sm border-slate-200 text-slate-600 dark:bg-darkmode-900/20 dark:border-darkmode-900/20 dark:text-slate-400 group-[.input-group]:rounded-none group-[.input-group]:[&amp;:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r">
            .00
        </div>
    </div>


{% endblock %}
{% block date_widget %}
    <div class="relative mx-auto w-56">
        <div class="absolute flex h-full w-10 items-center justify-center rounded-l border bg-slate-100 text-slate-500 dark:border-darkmode-800 dark:bg-darkmode-700 dark:text-slate-400">
            <i data-tw-merge data-lucide="calendar" class="stroke-1.5 w-5 h-5 h-4 w-4 h-4 w-4"></i>
        </div>
        <input id="{{ id }}"  name="{{ full_name }}" value="{{ value }}" required="{{ required }}" data-tw-merge type="text" data-single-mode="true" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10 datepicker pl-12 pl-12 datepicker pl-12 pl-12" />
    </div>
    <script src="{{ asset('dist/js/vendors/dayjs.js') }}"></script></script>
    <script src="{{ asset('dist/js/components/base/preview-component.js') }}"></script></script>

    <script>
        jQuery(document).ready(function() {
            var inputClicked = false;
            console.log("doc ready")
            // Event delegation to handle clicks on dynamically added input fields
            jQuery(document).on('click', '#{{ id }}', function() {
                if (!inputClicked) {
                    // Enable one-time click event on the Apply button
                    jQuery('.button-apply').one('click', function() {
                        // Simulate another click on button-apply
                        jQuery(this).trigger('click');
                    });

                    inputClicked = true; // Set inputClicked to true to prevent further executions
                }
            });
        });</script>
{% endblock %}
{% block choice_widget %}
    {% set isMultiple = multiple %}
    <div>
        <label>{{ label }}

        </label>
        <div class="mt-3 mb-4">
            <select {{ block('widget_attributes') }} data-placeholder="{{ placeholder }}" class="tom-select w-full {{ isMultiple ? 'multi' : 'single' }} plugin-dropdown_input" {{ isMultiple ? 'multiple' : '' }}>
                {% if not isMultiple %}
                    <option value="">{{ placeholder }}</option>
                {% endif %}
                {% for choice in choices %}
                    <option value="{{ choice.value }}"{{ choice.value in value ? ' selected' : '' }}>{{ choice.value }}</option>
                {% endfor %}
            </select>
        </div>


    </div>

{% endblock %}
{% block entity_type_widget %}
    {% set isMultiple = multiple %}
    <div>
        <label>{{ label }}</label>
        <div class="mt-3 mb-4">
            <select {{ block('widget_attributes') }} data-placeholder="{{ placeholder }}" class="tom-select w-full {{ isMultiple ? 'multi' : 'single' }} plugin-dropdown_input" {{ isMultiple ? 'multiple' : '' }}>
                {% if not isMultiple %}
                    <option value="">{{ placeholder }}</option>
                {% endif %}
                {% if query_builder is defined %}
                    {% set entities = query_builder %}
                    {% for entity in entities %}
                        <option value="{{ entity.id }}"{{ entity.id in value ? ' selected' : '' }}>{{ entity.name }}</option>
                    {% endfor %}
                {% else %}
                    {% for choice in choices %}
                        <option value="{{ choice.value }}"{{ choice.value in value ? ' selected' : '' }}>{{ choice.label }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
    </div>
{% endblock %}

{% block textarea_widget %}
    <div class="input-form mt-3 mb-4">
        <label for="{{ id }}" class="flex w-full flex-col sm:flex-row">
            {{ label }}


        </label>
        <textarea id="{{ id }}" name="{{ full_name }}" required="{{ required }}" placeholder="{{ attr.placeholder }}" class="w-full text-sm border-slate-200 shadow-sm rounded-md focus:ring-4 dark:bg-darkmode-800 dark:border-transparent {{ block('widget_attributes') }}">{{ value }}</textarea>
    </div>


{% endblock %}

{% block button_widget %}
    <button disabled id="spinnerButton" type="button"  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center" style="display:none;">
        <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
        </svg>
        Loading...
    </button>
    <button id="submit-btn" {{ block('button_attributes') }} class="transition duration-200 border inline-flex items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&:hover:not(:disabled)]:bg-opacity-90 [&:hover:not(:disabled)]:border-opacity-90 [&:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed bg-primary border-primary text-white dark:border-primary mr-2 shadow-md">{{ label|trans }}</button>

{% endblock %}

{% block file_widget %}

    <div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden items-center">
        <div class="px-4 py-6">
            <div id="image-preview" class="max-w-sm p-6 mb-4 bg-gray-100 border-dashed border-2 border-gray-400 rounded-lg items-center mx-auto text-center cursor-pointer">
                <input type="file" id="activity_imageData" name="activity[imageData]" accept="image/*" style="display:none">

                <label for="{{ id }}" class="cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-gray-700 mx-auto mb-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
                    </svg>
                    <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-700">Upload picture</h5>
                    <p class="font-normal text-sm text-gray-400 md:px-6">Choose photo size should be less than <b class="text-gray-600">2mb</b></p>
                    <p class="font-normal text-sm text-gray-400 md:px-6">and should be in <b class="text-gray-600">JPG, PNG, or GIF</b> format.</p>
                    <span id="filename" class="text-gray-500 bg-gray-200 z-50"></span>
                </label>
            </div>
            <div class="flex items-center justify-center hidden">
                <div class="w-full">
                    <label class="w-full text-white bg-[#050708] hover:bg-[#050708]/90 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-2.5 flex items-center justify-center mr-2 mb-2 cursor-pointer">
                        <span class="text-center ml-2">Upload</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <script>
        const uploadInput = document.getElementById('{{ id }}');

        const filenameLabel = document.getElementById('filename');
        const imagePreview = document.getElementById('image-preview');

        function loadImagePreview(base64ImageData,fileName) {
            filenameLabel.textContent = fileName;

            imagePreview.innerHTML =
                `<img src="data:image/png;base64,${base64ImageData}" class="max-h-48 rounded-lg mx-auto" alt="Image preview" />`;
            imagePreview.classList.remove('border-dashed', 'border-2', 'border-gray-400');

            // Add event listener for image preview only once
            if (!isEventListenerAdded) {
                imagePreview.addEventListener('click', () => {
                    uploadInput.click();
                });

                // isEventListenerAdded = true;
            }
        }   // Check if the event listener has been added before
        let isEventListenerAdded = false;

        uploadInput.addEventListener('change', (event) => {
            const file = event.target.files[0];

            if (file) {
                filenameLabel.textContent = file.name;

                const reader = new FileReader();
                reader.onload = (e) => {
                    imagePreview.innerHTML =
                        `<img src="${e.target.result}" class="max-h-48 rounded-lg mx-auto" alt="Image preview" />`;
                    imagePreview.classList.remove('border-dashed', 'border-2', 'border-gray-400');

                    // Append the image data to the FormData object

                    // Add event listener for image preview only once
                    if (!isEventListenerAdded) {
                        imagePreview.addEventListener('click', () => {
                            uploadInput.click();
                        });

                        isEventListenerAdded = true;
                    }
                };
                reader.readAsDataURL(file);
            } else {
                filenameLabel.textContent = '';
                imagePreview.innerHTML =
                    `<div class="bg-gray-200 h-48 rounded-lg flex items-center justify-center text-gray-500">No image preview</div>`;
                imagePreview.classList.add('border-dashed', 'border-2', 'border-gray-400');

                // Remove the event listener when there's no image
                imagePreview.removeEventListener('click', () => {
                    uploadInput.click();
                });

                isEventListenerAdded = false;
            }
        });

        uploadInput.addEventListener('click', (event) => {
            event.stopPropagation();
        });
    </script>
{% endblock %}